body {
margin: 0;
font-family: Arial, sans-serif;
background-color: white;
}

.principio {
display: flex;
justify-content: space-between;
padding: 40px;
}

.esquerda {
width: 60%;
}

.esquerda h1 {
font-size: 40px;
margin-bottom: 5px;
}

.esquerda hr {
border: none;
border-top: 1px solid black;
margin-bottom: 20px;
}

.esquerda h2 {
font-size: 22px;
margin-bottom: 20px;
}

.evento {
display: flex;
background-color: #e0dbf8;
border-radius: 25px;
padding: 20px;
margin-bottom: 15px;
align-items: flex-start;
}

.evento img {
width: 70px;
height: 70px;
border-radius: 50%;
margin-right: 15px;
}

.evento-info h3 {
margin: 0;
font-size: 16px;
}

.evento-info span {
display: block;
font-weight: bold;
color: #5e2ca5;
}

.evento-info p {
margin: 5px 0;
font-size: 14px;
}

.hora {
font-weight: bold;
}

.direita {
width: 30%;
text-align: left;
}

.direita h1 {
font-size: 38px;
margin-bottom: 30px;
}

.plus {
color: #9260f3;
font-size: 42px;
font-weight: bold;
margin-left: 10px;
}

.crie, .compartilhe {
font-size: 50px;
margin-bottom: 30px;
font-weight: bold;
}

.crie-botao {
background-color: #7c52d1;
color: white;
border: none;
padding: 15px 25px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
}