body {
margin: 0;
padding: 0;
font-family: Arial, sans-serif;
background-color: white;
}

.principio {
display: flex;
justify-content: space-between;
padding: 40px;
}

.esquerda {
width: 60%;
}

.esquerda h1 {
font-size: 52px;
margin-bottom: 3.5px;
}

.esquerda hr {
border: none;
border-top: 1px solid black;
margin-bottom: 15px;
}

.esquerda h2 {
font-size: 27px;
margin-bottom: 20px;
}

.evento {
display: flex;
background-color: #e0dbf8;
border-radius: 25px;
padding: 20px;
margin-bottom: 15px;
align-items: flex-start;
size: 50px;
padding-right: 100px;

}

.evento img {
width: 80px;
height: 80px;
border-radius: 50%;
margin-right: 30px;
}

.evento h3 {
margin: 0;
font-size: 24px;
}

.evento-info span {
display: block;
font-weight: bold;
color: #5e2ca5;
}

.evento-info p {
margin: 5px 0;
font-size: 26px;
}

.botao-info {
display: flex;
justify-content: space-between;
align-items: center;
}

.hora {
font-weight: bold;
}

.checkin {
background-color: #7c52d1;
color: white;
border: none;
padding: 5px 10px;
font-size: 20px;
border-radius: 4px;
cursor: pointer;
}

.direita {
width: 30%;
text-align: left;
size: 60px;
}
.motivacao{
font-size: 50px;
margin-bottom: 30px;
font-weight: bold; 
text-align: right; 
}