* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 90%;
  max-width: 400px;
}

.imgcentral {
  margin-bottom: 20px;
  cursor: default;
}

.formulario {
  text-align: left;
  width: 100%;
}

.formulario label {
  font-size: 16px;
  display: block;
  margin-bottom: 3px;
}

.formulario input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 8px;
}

button {
  width: 100%;
  background-color: #9B7EDC;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 20px;
}