
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: Arial, sans-serif;
background-color: #000;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.imgcentral {
text-align: center;
width: 90%;
max-width: 400px;
margin-left: 20px;
position: fixed;
}

.formulario {
text-align: left;
margin-top: 20px;
}

.formulario label {
font-size: 14px;
display: block;
margin-bottom: 5px;
}

.formulario input {
width: 100%;
padding: 12px;
margin-bottom: 15px;
font-size: 16px;
border: none;
outline: none;
}

button {
width: 100%;
background-color: #9B7EDC;
color: #fff;
border: none;
padding: 15px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
border-radius: 4px;
margin-top: 50px;
}